<form action="/square/new">

  <label for="square_form">Enter a number</label>
  <input id="square_form" type="text" name="squaring" placeholder="What number do you want to take the square of?">
  <button>Calculate square</button>

</form>
